module.exports = {
    app: [
        {
            name: 'kokoike-new',
            script: 'npm',
            args: 'start',
            watch: true,
            env: {
                PORT: '',
                HOST_NAME: '',
                USE_SSL: true,
                DB_USER: '',
                DB_PASS: '',
                DB_HOST: '',
                DB_DATABASE: '',
                PASSWORD_ENC: '',
                GNAVI_API_KEY: '',

                AUTH: {
                    local: {
                        active: false
                    },
                    twitter: {
                        active: true,
                        CONSUMER_KEY: '',
                        CONSUMER_SECRET: '',
                    },
                    facebook: {
                        active: false,
                    }

                }
            }
        }
    ]
};

